@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "handwriting";
    src: url("../assets/fonts/Cookie-Regular.ttf");
}

@font-face {
    font-family: "quote";
    src: url("../assets/fonts/Ephesis-Regular.ttf");
}

@font-face {
    font-family: "main--serif";
    src: url("../assets/fonts/RobotoSlab-Regular.ttf");
}

@font-face {
    font-family: "main--serif--bold";
    src: url("../assets/fonts/RobotoSlab-Bold.ttf");
}
